In [1]:
import os
from tqdm import tqdm_notebook
from utils import *
from calc_consistency import *
from utils import BlurPooling1D,excute_command
from keras.utils import CustomObjectScope

Using TensorFlow backend.
/Users/hu/.pyenv/versions/3.6.6/envs/Biosignals/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/hu/.pyenv/versions/3.6.6/envs/Biosignals/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## calculate consistent from a list of prediction

In [2]:
test_array = np.array(np.random.rand(10,0,1))

In [3]:
test_array

array([], shape=(10, 0, 1), dtype=float64)

## Pool2 - Max☑️

In [ ]:
result_root = "./Result_CNN_pool2/results_max/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

## Pool2 - Maxblur3☑️

In [ ]:
result_root = "./Result_CNN_pool2/results_maxblur-3/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

## Pool2 - Maxblur4 ☑️

In [2]:
result_root = "./Result_CNN_pool2/results_maxblur-4/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

WARNING:tensorflow:From /Users/hu/.pyenv/versions/3.6.6/envs/Biosignals/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4070: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /Users/hu/.pyenv/versions/3.6.6/envs/Biosignals/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

0 0.794542670249939

1 0.6750841736793518

2 0.8967068195343018

cosistency of can not calculate cosistency
3 0.9729691743850708

4 0.6267605423927307

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,10,2,maxblur-4,0,9,0.643776,0.817568,0.794543,0.781050,0.876964,0.763388,0.712121
1,20,2,maxblur-4,1,9,1.432026,0.707792,0.675084,0.702042,0.615084,0.718722,0.735084
2,26,2,maxblur-4,2,5,0.384606,0.893333,0.896707,0.925440,0.991421,0.913121,0.801993
3,36,2,maxblur-4,3,5,0.064857,0.972603,0.972969,0.941755,0.997439,0.931644,0.948499
4,49,2,maxblur-4,4,8,0.628014,0.623288,0.626761,0.782194,0.394793,0.852541,0.858728

## Pool2 - Maxblur5☑️

In [4]:
result_root = "./Result_CNN_pool2/results_maxblur-5/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.8298259973526001

1 0.64161616563797

2 0.8707624077796936

cosistency of can not calculate cosistency
3 0.980438232421875

4 0.8681178092956543

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,5,2,maxblur-5,0,4,0.523219,0.817568,0.829826,0.794555,0.862514,0.782040,0.797138
1,12,2,maxblur-5,1,1,1.036239,0.655844,0.641616,0.669094,0.745859,0.654370,0.537374
2,30,2,maxblur-5,2,9,0.327363,0.880000,0.870762,0.860719,1.000000,0.834715,0.741525
3,33,2,maxblur-5,3,2,0.053283,0.972603,0.980438,0.971096,0.998435,0.966132,0.962441
4,46,2,maxblur-5,4,5,0.239057,0.917808,0.868118,0.896104,0.857021,0.903201,0.879215

## Pool2 - Average☑️

In [6]:
result_root = "./Result_CNN_pool2/results_maxblur-/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

WARNING:tensorflow:From /Users/hu/.pyenv/versions/3.6.6/envs/Biosignals/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4074: The name tf.nn.avg_pool is deprecated. Please use tf.nn.avg_pool2d instead.

0 0.7868967056274414

1 0.597239077091217

2 0.8032379150390625

cosistency of can not calculate cosistency
3 0.8212405443191528

4 0.7986911535263062

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,4,2,maxblur-,0,3,0.971609,0.790541,0.786897,0.787290,0.771745,0.790152,0.802048
1,20,2,maxblur-,1,9,1.857439,0.571429,0.597239,0.490246,0.709226,0.448242,0.485253
2,28,2,maxblur-,2,7,1.020636,0.800000,0.803238,0.711098,0.984641,0.660027,0.621835
3,35,2,maxblur-,3,4,0.390503,0.842466,0.821241,0.840024,1.000000,0.810974,0.642481
4,47,2,maxblur-,4,6,0.512265,0.794521,0.798691,0.834448,0.818609,0.837325,0.778774

## Pool2 - Maxblur6☑️

In [7]:
result_root = "./Result_CNN_pool2/results_maxblur-6/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7911756038665771

1 0.6984511613845825

2 0.8496609926223755

cosistency of can not calculate cosistency
3 0.8210983276367188

4 0.7161047458648682

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,2,2,maxblur-6,0,1,0.663467,0.763514,0.791176,0.718699,0.859568,0.692759,0.722783
1,16,2,maxblur-6,1,5,1.067554,0.707792,0.698451,0.524841,0.801347,0.471802,0.595556
2,29,2,maxblur-6,2,8,0.326040,0.846667,0.849661,0.754071,0.999447,0.708259,0.699875
3,32,2,maxblur-6,3,1,0.417930,0.842466,0.821098,0.852683,0.985489,0.828567,0.656708
4,49,2,maxblur-6,4,8,0.625680,0.746575,0.716105,0.812016,0.849338,0.805239,0.582871

## Pool2 - Maxblur7☑️

In [10]:
result_root = "./Result_CNN_pool2/results_maxblur-7/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.8442760705947876

1 0.6055219173431396

2 0.9907292127609253

cosistency of can not calculate cosistency
3 0.914923906326294

4 0.8863992094993591

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,9,2,maxblur-7,0,8,0.532511,0.871622,0.844276,0.837642,0.862654,0.833036,0.825898
1,11,2,maxblur-7,1,0,1.384909,0.616883,0.605522,0.601964,0.704916,0.582216,0.506128
2,27,2,maxblur-7,2,6,0.044630,0.986667,0.990729,0.969022,1.000000,0.963239,0.981458
3,32,2,maxblur-7,3,1,0.225429,0.910959,0.914924,0.865101,1.000000,0.840606,0.829848
4,46,2,maxblur-7,4,5,0.291872,0.883562,0.886399,0.921225,0.881633,0.928415,0.891165

## Pool2 - Maxblur1☑️

In [12]:
result_root = "./Result_CNN_pool2/results_maxblur-1/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7574354410171509

1 0.7725252509117126

2 0.9117891192436218

cosistency of can not calculate cosistency
3 0.7647602558135986

4 0.7678190469741821

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,8,2,maxblur-1,0,7,1.676485,0.736486,0.757435,0.698628,0.806257,0.678809,0.708614
1,11,2,maxblur-1,1,0,1.791928,0.766234,0.772525,0.765509,0.695758,0.778889,0.849293
2,30,2,maxblur-1,2,9,0.520067,0.893333,0.911789,0.862962,0.989484,0.839340,0.834094
3,39,2,maxblur-1,3,8,1.101641,0.760274,0.764760,0.692138,0.985915,0.638792,0.543605
4,50,2,maxblur-1,4,9,1.024269,0.760274,0.767819,0.771197,0.794139,0.767031,0.741499

## Pool2 - Maxblur2☑️

In [14]:
result_root = "./Result_CNN_pool2/results_maxblur-2/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7660634517669678

1 0.629562258720398

2 0.9074304699897766

cosistency of can not calculate cosistency
3 0.9193341732025146

4 0.7565087080001831

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,7,2,maxblur-2,0,6,1.050635,0.763514,0.766063,0.717172,0.762065,0.708905,0.770062
1,17,2,maxblur-2,1,6,1.947688,0.629870,0.629562,0.626588,0.653064,0.621509,0.606061
2,21,2,maxblur-2,2,0,0.271388,0.893333,0.907430,0.911159,0.991006,0.896251,0.823855
3,40,2,maxblur-2,3,9,0.272461,0.897260,0.919334,0.853973,0.991748,0.828955,0.846920
4,46,2,maxblur-2,4,5,0.611219,0.794521,0.756509,0.761927,0.802959,0.754476,0.710058

## Pool1 - Max☑️

In [3]:
result_root = "./Result_CNN_pool1/results_max/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7976290583610535

1 0.7400673627853394

2 0.861284077167511

cosistency of can not calculate cosistency
3 0.9439464807510376

4 0.8302034139633179

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,2,1,max,0,1,1.267224,0.831081,0.797629,0.772520,0.772447,0.772534,0.822811
1,14,1,max,1,3,1.258857,0.772727,0.740067,0.845580,0.535488,0.905061,0.944646
2,24,1,max,2,3,0.452523,0.893333,0.861284,0.737744,0.988930,0.690847,0.733638
3,32,1,max,3,1,0.100253,0.952055,0.943946,0.914907,0.979087,0.903252,0.908806
4,42,1,max,4,1,0.490812,0.856164,0.830203,0.701976,0.890881,0.667674,0.769526

## Pool1 - Maxblur3☑️

In [ ]:
result_root = "./Result_CNN_pool1/results_maxblur-3/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

## Pool1 - Maxblur4☑️

In [ ]:
result_root = "./Result_CNN_pool1/results_maxblur-4/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

## Pool1 - Maxblur5☑️

In [5]:
result_root = "./Result_CNN_pool1/results_maxblur-5/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7704124450683594

1 0.6948148012161255

2 0.981804370880127

cosistency of can not calculate cosistency
3 0.8905249834060669

4 0.8597240447998047

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,2,1,maxblur-5,0,1,0.943559,0.797297,0.770412,0.794336,0.768799,0.799039,0.772026
1,11,1,maxblur-5,1,0,0.997864,0.701299,0.694815,0.584623,0.689966,0.564417,0.699663
2,30,1,maxblur-5,2,9,0.077526,0.980000,0.981804,0.964146,0.989345,0.959441,0.974263
3,38,1,maxblur-5,3,7,0.324037,0.869863,0.890525,0.777166,0.995305,0.737555,0.785745
4,48,1,maxblur-5,4,7,0.342320,0.904110,0.859724,0.763129,0.929862,0.732853,0.789586

## Pool1 - Average☑️

In [8]:
result_root = "./Result_CNN_pool1/results_maxblur-/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7908950448036194

1 0.6099663376808167

2 0.9452054500579834

cosistency of can not calculate cosistency
3 0.9139991402626038

4 0.6978232860565186

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,1,1,maxblur-,0,0,1.118355,0.810811,0.790895,0.772018,0.764590,0.773386,0.817200
1,16,1,maxblur-,1,5,1.393599,0.649351,0.609966,0.601747,0.420337,0.636544,0.799596
2,27,1,maxblur-,2,6,0.165524,0.946667,0.945205,0.932210,0.981458,0.923015,0.908953
3,34,1,maxblur-,3,3,0.218572,0.897260,0.913999,0.814902,0.998293,0.781601,0.829705
4,42,1,maxblur-,4,1,0.817549,0.712329,0.697823,0.845511,0.465073,0.914594,0.930573

## Pool1 - Maxblur6☑️

In [9]:
result_root = "./Result_CNN_pool1/results_maxblur-6/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.8376823663711548

1 0.704242467880249

2 0.9240348935127258

cosistency of can not calculate cosistency
3 0.9631526470184326

4 0.8146962523460388

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,6,1,maxblur-6,0,5,0.737887,0.831081,0.837682,0.914545,0.711279,0.951975,0.964085
1,20,1,maxblur-6,1,9,1.088188,0.714286,0.704242,0.504422,0.704108,0.466119,0.704377
2,22,1,maxblur-6,2,1,0.218858,0.926667,0.924035,0.970785,0.852359,0.992896,0.995711
3,37,1,maxblur-6,3,6,0.128518,0.958904,0.963153,0.972474,0.981790,0.970782,0.944516
4,47,1,maxblur-6,4,6,0.435443,0.849315,0.814696,0.793454,0.810499,0.790359,0.818893

## Pool1 - Maxblur7

In [11]:
result_root = "./Result_CNN_pool1/results_maxblur-7/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.8313692808151245

1 0.7884848117828369

2 0.8969835042953491

cosistency of can not calculate cosistency
3 0.9877649545669556

4 0.8282828330993652

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,8,1,maxblur-7,0,7,0.581183,0.824324,0.831369,0.873465,0.831930,0.881113,0.830808
1,14,1,maxblur-7,1,3,1.001615,0.792208,0.788485,0.771535,0.679057,0.789274,0.897912
2,23,1,maxblur-7,2,2,0.227665,0.906667,0.896984,0.919388,0.871039,0.928415,0.922928
3,40,1,maxblur-7,3,9,0.052664,0.986301,0.987765,0.980454,0.982928,0.980005,0.992602
4,41,1,maxblur-7,4,0,0.497737,0.869863,0.828283,0.793607,0.850903,0.783203,0.805662

## Pool1 - Maxblur1☑️

In [13]:
result_root = "./Result_CNN_pool1/results_maxblur-1/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.7610129117965698

1 0.7309764623641968

2 0.9029334187507629

cosistency of can not calculate cosistency
3 0.959951639175415

4 0.7991890907287598

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,7,1,maxblur-1,0,6,1.176815,0.743243,0.761013,0.717826,0.785494,0.705366,0.736532
1,13,1,maxblur-1,1,2,1.092470,0.759740,0.730976,0.624637,0.730505,0.604330,0.731448
2,21,1,maxblur-1,2,0,0.276290,0.940000,0.902933,0.867729,0.960426,0.850422,0.845441
3,32,1,maxblur-1,3,1,0.073814,0.965753,0.959952,0.857361,0.978233,0.835413,0.941670
4,49,1,maxblur-1,4,8,0.713382,0.842466,0.799189,0.739232,0.783468,0.731199,0.814910

## Pool1 - Maxblur2☑️

In [15]:
result_root = "./Result_CNN_pool1/results_maxblur-2/"
for cross_idx in range(5):
    update_result_with_consistency(cross_idx,result_root)
new_result_file = os.path.join(result_root,"new_result.csv")
result_df = pd.read_csv(new_result_file)
result_df = result_df.drop("_",axis=1)
result_df

0 0.816077470779419

1 0.679326593875885

2 0.8961533308029175

cosistency of can not calculate cosistency
3 0.969127893447876

4 0.83247971534729

,idx,pool_factor,pool_type,cross_idx,repeat_idx,loss,accuracy,consis_b,consis_ub,consis_n,consis_a,consis_a_s
0,2,1,maxblur-2,0,1,0.940709,0.831081,0.816077,0.783625,0.748878,0.790023,0.883277
1,15,1,maxblur-2,1,4,1.487157,0.675325,0.679327,0.764144,0.489428,0.816838,0.869226
2,23,1,maxblur-2,2,2,0.324322,0.933333,0.896153,0.840365,0.976339,0.814978,0.815968
3,38,1,maxblur-2,3,7,0.131626,0.965753,0.969128,0.935546,0.976099,0.928182,0.962157
4,45,1,maxblur-2,4,4,0.606883,0.849315,0.832480,0.720648,0.891592,0.689607,0.773367

## Pool3

In [2]:
result_roots = ["./Result_CNN_pool3/results_max/",
               "./Result_CNN_pool3/results_maxblur-/",
               "./Result_CNN_pool3/results_maxblur-1/",
               "./Result_CNN_pool3/results_maxblur-2/",
               "./Result_CNN_pool3/results_maxblur-3/",
               "./Result_CNN_pool3/results_maxblur-4/",
               "./Result_CNN_pool3/results_maxblur-5/",
               "./Result_CNN_pool3/results_maxblur-6/",
               "./Result_CNN_pool3/results_maxblur-7/"]

for result_root in tqdm_notebook(result_roots):
    for cross_idx in range(5):
        excute_command("calc_consistency.py",[cross_idx,result_root])

#new_result_file = os.path.join(result_root,"new_result.csv")
#result_df = pd.read_csv(new_result_file)
#result_df = result_df.drop("_",axis=1)
#result_df

HBox(children=(IntProgress(value=0, max=9), HTML(value='')))

## For augment

In [ ]:
result_roots = ["./Result_CNN_aug_pool1/results_max/",
               "./Result_CNN_aug_pool1/results_maxblur-/",
               "./Result_CNN_aug_pool1/results_maxblur-3/",
               "./Result_CNN_aug_pool1/results_maxblur-4/",
               "./Result_CNN_aug_pool1/results_maxblur-5/",
               "./Result_CNN_aug_pool1/results_maxblur-6/",
               "./Result_CNN_aug_pool1/results_maxblur-7/"]

for result_root in tqdm_notebook(result_roots):
    for cross_idx in range(5):
        excute_command("calc_consistency.py",[cross_idx,result_root])

In [ ]:
result_roots = ["./Result_CNN_aug_pool2/results_max/",
               "./Result_CNN_aug_pool2/results_maxblur-/",
               "./Result_CNN_aug_pool2/results_maxblur-3/",
               "./Result_CNN_aug_pool2/results_maxblur-4/",
               "./Result_CNN_aug_pool2/results_maxblur-5/",
               "./Result_CNN_aug_pool2/results_maxblur-6/",
               "./Result_CNN_aug_pool2/results_maxblur-7/"]

for result_root in tqdm_notebook(result_roots):
    for cross_idx in range(5):
        excute_command("calc_consistency.py",[cross_idx,result_root])